/* 

From Uiverse.io by gharsh11032000 

Copyright - 2025 gharsh11032000 (Harsh Gupta) 
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 

*/

.card-vision {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 36px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  border: 1px solid #999999;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  background: #0a3bffa9;
  margin-bottom: 50px;
}

.content-vision {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  text-align: justify;
}

.content-vision .heading-vision {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content-vision .para-vision {
  z-index: 1;
  opacity: 0.8;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  
}

.card-vision::before {
  content: "";
  position: absolute;
  right: -5.2rem;
  top: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #0a3cff;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-vision::after {
  content: "";
  position: absolute;
  left: -5.2rem;
  bottom: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #0a3cff;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-vision:hover::before {
  scale: 7;
  opacity: 1;
}

.card-vision:hover::after {
  scale: 7;
  opacity: 1;
}

.card-vision:hover .content-vision .heading-vision {
  color: #ffffff;
}

.card-vision:hover .content-vision .para-vision {
  color: #ffffff;
}

.card-vision:hover {
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  border-color: #0a3cff;
  scale: 1.05;
}
